@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
html {
  font-size: 62.5%;
}

body, p, span {
  font-size: 1.6rem;
  font-family: "Rubik Mono One", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #F8DAB7;
}

.page_wrap {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto 0 auto;
}

.uppgrade_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7rem 0 10rem 0;
}

.click_lvl, .passive_lvl, .crit_lvl, .speed_lvl {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.click_lvl__lvl, .click_lvl__cost, .passive_lvl__lvl, .passive_lvl__cost, .crit_lvl__lvl, .crit_lvl__cost, .speed_lvl__lvl, .speed_lvl__cost {
  color: brown;
  font-size: 2rem;
}
.click_lvl img, .passive_lvl img, .crit_lvl img, .speed_lvl img {
  cursor: pointer;
}
.click_lvl img:active, .passive_lvl img:active, .crit_lvl img:active, .speed_lvl img:active {
  filter: brightness(0.7);
}

.click_lvl img, .crit_lvl img {
  transform: translateX(4.5rem);
}

.speed_lvl img {
  transform: translateX(9rem);
}

.cookie_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
}
.cookie_wrap .cookie {
  width: 40rem;
  height: 40rem;
  margin-bottom: 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  user-select-filter: brightness(0.7);
}
.cookie_wrap .cookie__text {
  font-size: 2.5rem;
}
.cookie_wrap .cookie__points {
  color: brown;
  font-size: 3rem;
}
.cookie_wrap .cookie:active {
  filter: brightness(0.7);
}

.cookie_gained {
  width: 5rem;
  height: 5rem;
  pointer-events: none;
  font-size: 4rem;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 400ms ease;
}

.fade {
  opacity: 1;
  transform: translateY(20px);
}

.reset {
  font-size: 3.5rem;
  padding: 2rem;
  cursor: pointer;
  color: brown;
  background: #ffffff;
  border: 5px solid black;
}
.reset:active {
  filter: brightness(0.7);
}

footer {
  display: flex;
  justify-content: center;
}
footer span {
  color: brown;
}