.cookie_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: max-content;

    .cookie{
        width: 30rem;
        height: 30rem;
        background-image: url("/svg/cookie.svg");
        background-repeat: no-repeat;
        background-size: cover;
        &:hover{
            cursor: pointer;
        }
        &:active{
            filter: brightness(0.8);
        }
    }
}