<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/main.css")
        title KepKep's Cookies
    body
        .page_wrap
            .uppgrade_wrap
                .click_lvl
                    img.click_lvl__img(src="svg/click_lvl.svg", alt="click_lvl")
                    p.click_lvl__lvl_txt click lvl:
                        span.click_lvl__lvl 0
                    p.click_lvl__cost_txt cost:
                        span.click_lvl__cost 0
                .passive_lvl
                    img.passive_lvl__img(src="svg/passive_lvl.svg", alt="passive_lvl")
                    p.passive_lvl__lvl_txt passive lvl:
                        span.passive_lvl__lvl 0
                    p.passive_lvl__cost_txt cost:
                        span.passive_lvl__cost 0
                .crit_lvl
                    img.crit_lvl__img(src="svg/crit_lvl.svg", alt="crit_lvl")
                    p.crit_lvl__lvl_txt crit lvl:
                        span.crit_lvl__lvl 0
                    p.crit_lvl__cost_txt cost:
                        span.crit_lvl__cost 0
                .speed_lvl
                    img.speed_lvl__img(src="svg/speed_lvl.svg", alt="speed_lvl")
                    p.speed_lvl__lvl_txt speed lvl:
                        span.speed_lvl__lvl 0
                    p.speed_lvl__cost_txt cost:
                        span.speed_lvl__cost 0

            .cookie_wrap
                <svg class="cookie" width="255" height="250" viewBox="0 0 255 250" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                <circle cx="125.257" cy="125.257" r="125" transform="rotate(-78 125.257 125.257)" fill="url(#paint0_linear)"/>
                <circle cx="82.1434" cy="154.942" r="12" transform="rotate(-78 82.1434 154.942)" fill="#894A00"/>
                <circle cx="68.2555" cy="119.275" r="12" transform="rotate(-78 68.2555 119.275)" fill="#894A00"/>
                <circle cx="144.693" cy="221.399" r="12" transform="rotate(-78 144.693 221.399)" fill="#894A00"/>
                <circle cx="140.931" cy="142.902" r="12" transform="rotate(-78 140.931 142.902)" fill="#894A00"/>
                <circle cx="240.362" cy="127.232" r="12" transform="rotate(-78 240.362 127.232)" fill="#894A00"/>
                <circle cx="211.698" cy="194.748" r="12" transform="rotate(-78 211.698 194.748)" fill="#894A00"/>
                <circle cx="192.144" cy="27.0172" r="12" transform="rotate(-78 192.144 27.0172)" fill="#894A00"/>
                <circle cx="57.9924" cy="206.037" r="12" transform="rotate(-78 57.9924 206.037)" fill="#894A00"/>
                <circle cx="220.752" cy="94.4383" r="12" transform="rotate(-78 220.752 94.4383)" fill="#894A00"/>
                <circle cx="196.123" cy="152.588" r="12" transform="rotate(-78 196.123 152.588)" fill="#894A00"/>
                <circle cx="79.8985" cy="64.499" r="12" transform="rotate(-78 79.8985 64.499)" fill="#894A00"/>
                <circle cx="92.8978" cy="27.3908" r="12" transform="rotate(-78 92.8978 27.3908)" fill="#894A00"/>
                <circle cx="101.404" cy="102.807" r="12" transform="rotate(-78 101.404 102.807)" fill="#894A00"/>
                <circle cx="180.208" cy="73.5524" r="12" transform="rotate(-78 180.208 73.5524)" fill="#894A00"/>
                <circle cx="162.876" cy="193.572" r="12" transform="rotate(-78 162.876 193.572)" fill="#894A00"/>
                <circle cx="31.8658" cy="160.613" r="12" transform="rotate(-78 31.8658 160.613)" fill="#894A00"/>
                <circle cx="98.7201" cy="211.627" r="12" transform="rotate(-78 98.7201 211.627)" fill="#894A00"/>
                <circle cx="28.9357" cy="78.2027" r="12" transform="rotate(-78 28.9357 78.2027)" fill="#894A00"/>
                <circle cx="132.024" cy="35.7073" r="12" transform="rotate(-78 132.024 35.7073)" fill="#894A00"/>
                <circle cx="118.921" cy="179.117" r="12" transform="rotate(-78 118.921 179.117)" fill="#894A00"/>
                <circle cx="49.6137" cy="38.6373" r="12" transform="rotate(-78 49.6137 38.6373)" fill="#894A00"/>
                <circle cx="146.999" cy="95.119" r="12" transform="rotate(-78 146.999 95.119)" fill="#894A00"/>
                <circle cx="19.7876" cy="121.241" r="12" transform="rotate(-78 19.7876 121.241)" fill="#894A00"/>
                </g>
                <defs>
                <linearGradient id="paint0_linear" x1="-55.7426" y1="243.257" x2="236.757" y2="53.2574" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EFC492"/>
                <stop offset="1" stop-color="#B76A11"/>
                </linearGradient>
                <clipPath id="clip0">
                <rect width="255" height="250" fill="white"/>
                </clipPath>
                </defs>
                </svg>
                p.cookie__text your cookies:
                    span.cookie__points 0
                p.reset reset

            footer
                p Made by: 
                    span KepKep(Emīls Soldatovs)
        script(src="script.js")