<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/main.css")
        title KepKep's Cookies
    body
        .page_wrap
            .uppgrade_wrap
                .click_lvl
                    img.click_lvl__img(src="svg/click_lvl.svg", alt="click_lvl")
                    p.click_lvl__lvl_txt click lvl:
                        span.click_lvl__lvl 0
                    p.click_lvl__cost_txt cost:
                        span.click_lvl__cost 0
                .passive_lvl
                    img.passive_lvl__img(src="svg/passive_lvl.svg", alt="passive_lvl")
                    p.passive_lvl__lvl_txt passive lvl:
                        span.passive_lvl__lvl 0
                    p.passive_lvl__cost_txt cost:
                        span.passive_lvl__cost 0
                .crit_lvl
                    img.crit_lvl__img(src="svg/crit_lvl.svg", alt="crit_lvl")
                    p.crit_lvl__lvl_txt crit lvl:
                        span.crit_lvl__lvl 0
                    p.crit_lvl__cost_txt cost:
                        span.crit_lvl__cost 0
                .speed_lvl
                    img.speed_lvl__img(src="svg/speed_lvl.svg", alt="speed_lvl")
                    p.speed_lvl__lvl_txt speed lvl:
                        span.speed_lvl__lvl 0
                    p.speed_lvl__cost_txt cost:
                        span.speed_lvl__cost 0

            .cookie_wrap
                .cookie
                p.cookie__text your cookies:
                    span.cookie__points 0
                p.reset reset

            footer
                p Made by: 
                    span KepKep(Emīls Soldatovs)
        script(src="script.js")