<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/main.css")
        title Document
    body
        .uppgrades
            .points_plus_ten__wrap
                .points_plus_ten
                p.points_plus_ten__text level:
                    span.points_plus_ten__level 0
        .cookie_wrap
            .cookie
        .points__wrap
            span.points__text1 you have: 
            span.points 0
            span.points__text2  cookies!
        script(src="script.js")